
  .portfolio-item {
    background: var(--clr-dark);
    overflow: hidden;
    cursor: pointer;
  }
  
  .portfolio-img {
    transition: transform 350ms cubic-bezier(.5, 0, .5, 1),
    opacity 200ms linear;
  }
  
  .portfolio-item:focus {
    position: relative;
    z-index: 2;
  }
  
  .portfolio-img:hover,
  .portfolio-img:hover:focus .portfolio-img {
    transform: scale(1.1);
    opacity: .75;
  }